<% layout("layouts/boilerplate") %>
<body>
    <h2 class="heading">All listings</h2>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="card-link">
                <div class="card card-display col">
                    <img src="<%= listing.image %>" class="card-img-top" alt="listing image" style="height: 18rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <h5 class="card-title mt-2"><b><%= listing.title %></b></h5>
                        <p class="card-text">
                            <i class="fa-solid fa-location-dot"></i> <%= listing.location %>, <%= listing.country %>
                            <br>
                            <i class="fa-solid fa-indian-rupee-sign"></i> <%= listing.price.toLocaleString("en-IN") %> / night
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>