<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="heading">Listing details</h2>
            <div class="card">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing image">
                <div class="card-body">
                    <h5 class="mt-2"><b><%= listing.title %></b></h5>
                    <p class="card-text">
                        <%= listing.description %>
                        <br>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                        <br>
                        <%= listing.location %>
                        <br>
                        <%= listing.country %>
                    </p>
                </div>
                <div class="btns mt-2 mb-4">
                    <form method="get" action="/listings/<%= listing._id %>/edit">
                        <button class="btn btn-dark">Edit</button>
                    </form>
                    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="btn btn-dark">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>