<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="heading">Listing details</h2>
            <div class="card">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing image">
                <div class="card-body">
                    <h5 class="mt-2"><b><%= listing.title %></b></h5>
                    <p class="card-text">
                        <i class="fa-solid fa-bars-staggered"></i> <%= listing.description %>
                        <br>
                        <i class="fa-solid fa-indian-rupee-sign"></i> <%= listing.price.toLocaleString("en-IN") %> / night
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <%= listing.location %>
                        <br>
                        <i class="fa-solid fa-earth-americas"></i> <%= listing.country %>
                    </p>
                </div>
                <div class="btns mt-3 mb-3">
                    <form method="get" action="/listings/<%= listing._id %>/edit">
                        <button class="btn btn-dark"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                    </form>
                    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="btn btn-dark"><i class="fa-solid fa-trash-can"></i> Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>