<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="heading"><b><%= listing.title %></b></h2>
            <div class="card listing-card">
                <img src="<%= listing.image %>" class="card-img-top show-img mb-2" alt="listing image">
                <div class="card-body">
                    <p class="card-text">
                        <i class="fa-solid fa-bars-staggered"></i> <%= listing.description %>
                        <br>
                        <i class="fa-solid fa-indian-rupee-sign"></i> <%= listing.price ? listing.price.toLocaleString("en-IN") : 0 %> / night
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <%= listing.location %>
                        <br>
                        <i class="fa-solid fa-earth-americas"></i> <%= listing.country %>
                    </p>
                </div>
                <div class="btns mt-3">
                    <form method="get" action="/listings/<%= listing._id %>/edit">
                        <button class="btn btn-dark"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                    </form>
                    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="btn btn-dark"><i class="fa-solid fa-trash-can"></i> Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8 offset-2 mb-5">
            <hr>
            <h3 class="mb-3"><b>Leave a review</b></h3>
            <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea rows="5" name="review[comment]" id="comment" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please write a comment for this review!</div>
                </div>
                <button class="btn btn-dark"><i class="fa-solid fa-check"></i> Submit</button>
            </form>
            <hr>
            <h3 class="mb-3"><b>All reviews</b></h3>
            <div class="row">
                <% if(listing.reviews.length > 0){
                    for(let review of listing.reviews){ %>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body mt-2 mb-2">
                            <h5 class="card-title">John Doe</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                <% for(let i=0; i<review.rating ; i++){ %>
                                    <i class="fa-solid fa-star" style="font-size: 0.6rem; color: #FDCC0D;"></i>
                                <% } %>
                            </h6>
                            <p class="card-text"><%= review.comment %></p>
                        </div>
                    </div>
                <% } 
                }else{ %>
                    <div class="mt-5 mb-4" style="text-align: center;">
                        <h5><b>No review yet!</b></h5>
                        <p>Be the first one to share the review.</p>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>